{# This is the root page of the questions link. Other sublinks are derived from this page #}

{% extends "dashboard/dashboard.html" %}
{% block body %}
<section class="bat-main-content is-flex pt-6">
    <div class="container">
        {% block body_content %}
        <h2 class="title is-2 has-text-centered">{{ title }}</h2>
        {% include "helpers/notification.html" %}
        <div class="fixed-grid has-1-cols-mobile has-2-cols-tablet has-3-cols-desktop">
            <div class="grid is-gap-4">
                {% if assessments %}
                {% for assessment in assessments %}
                <div class="cell">
                    <div class="card p-4 content">
                        <div>
                            <div
                                class="assessment-name-row is-flex is-flex-direction-row is-justify-content-center is-align-items-center mb-4 is-clickable" 
                                hx-get="{{ url_for("dashboard_assessment_rename", assessment_id=assessment.assessment_id) }}"
                                hx-target=".assessment-name-row"
                                hx-swap="outerHTML"
                                >
                                <h3 class="title is-3 mb-0">{{ assessment.assessment_name }}&nbsp;</h3>
                                <span class="title is-5">&#128221;</span>
                            </div>
                        </div>
                        <table class="card-table">
                            <tbody>
                                <tr class="is-clickable owner-row"
                                    hx-get="{{ url_for("dashboard_assessment_chown", assessment_id=assessment.assessment_id) }}"
                                    hx-select=".owner-row"
                                    hx-taget=".owner-row"
                                    hx-swap="outerHTML"
                                    >
                                    <td>Owner:</td>
                                    <td class="owner-field">{{ assessment.owner_name }} &#128221;</td>
                                </tr>
                                <tr>
                                    <td>Last Editor:</td>
                                    <td>{% if assessment.last_edit and not assessment.last_editor_name %}
                                        <i>Deleted user</i>
                                        {% else %}
                                        {{ assessment.last_editor_name }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Last Edited: </td>
                                    <td>{% if assessment.last_edit %}{{ assessment.last_edit }}{% else %}Never edited{% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="is-flex is-gap-2">
                            <a href="{{ url_for("dashboard_assessments_page") }}/edit/{{ assessment.assessment_id }}" class="button is-link is-light px-6">
                                Edit
                            </a>
                            <a
                                    class="button is-success is-light"
                                    href="{{ url_for("dashboard_assessments_page") }}/review/{{ assessment.assessment_id }}">
                                    Review
                                </a>
                                    <button
                                        class="button is-danger is-light"
                                        hx-delete="{{ url_for("dashboard_assessments_page") }}/{{ assessment.assessment_id }}"
                                        hx-select=".bat-main-content"
                                        hx-target=".bat-main-content"
                                        hx-swap="outerHTML"
                                        hx-confirm="Delete assessment: {{ assessment.assessment_name }}? All Data will be deleted including answers and reports!"
                                        >
                                        Delete
                                    </button>
                        </div>
                    </div> 
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% if not assessments %}
            <div class="content has-text-centered">
                <p>No assessments were created yet. Create one first!</p> 
            </div>
            {% endif %}
        </div>
        <div class="content pt-5 is-flex is-justify-content-center">
            <a href="{{ url_for("dashboard_assessment_create_page") }}">
                <button class="button is-link">Create Assessment</button>
            </a>
        </div>
        {% endblock %}
    </div>
</section>
{% endblock %}
