<form
    class="mb-4"
    hx-put="{{ url_for("dashboard_assessment_rename", assessment_id=assessment_id) }}"
    hx-select=".bat-main-content"
    hx-target=".bat-main-content"
    hx-swap="outerHTML"
    >
    <div class="field">
        <div class="control">
            <input name="form_assessment_name" class="input selected-input has-text-centered" type="text" placeholder="Assesment name" value="{{ assessment.assessment_name }}" autofocus>
        </div>
    </div>
    <div class="is-fullwidth pt-4 is-flex is-justify-content-space-around is-flex-direction-row-reverse">
        <div class="control">
            <input type="submit" value="Rename" class="button is-success is-light">
        </div>
    <div class="button is-warning is-light"
    hx-get="{{ url_for("dashboard_assessments_page") }}"
    hx-select=".bat-main-content"
    hx-target=".bat-main-content"
    hx-swap="outerHTML"
    >Cancel</div>
    <div class="field is-hidden">
        <div class="control">
            <input name="form_assessment_id" class="input disabled" type="text" value="{{ assessment_id }}" readonly>
        </div>
    </div>
</form>
