{% extends "index.html" %}

{# HEADER PART #}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block header_scripts %}
<script src="{{ url_for("js", path="jwt-manager.js") }}" defer></script>
<script>
    var tokenCheckUrl = "{{ url_for("auth_token_check_endpoint") }}";
</script>
<script defer>
    window.addEventListener("load", ()=>{
        window.jwtManager = new JwtManager();
        jwtManager.init();
    })
</script>
{% endblock %}

{% block menu %}
{% include "dashboard/menu.html" %}
{% endblock %}

{# CONTENT #}
{% block body %}
<section class="bat-main-content is-flex is-align-items-center">
    <div class="container">
        <div class="columns is-flex is-justify-content-center">
            <div class="column is-one-third content"
                hx-get="{{ url_for("dashboard_assessments_page") }}"
                hx-trigger="load"
                hx-select=".bat-body"
                hx-target=".bat-body"
                hx-swap="outerHTML"
                hx-push-url="true"
                >
                Hello world
            </div>       
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
{% include "dashboard/footer.html" %}
{% endblock %}
