{# This is the root page of the questions link. Other sublinks are derived from this page #}

{% extends "dashboard/dashboard.html" %}
{% block body %}
<section class="bat-main-content is-flex pt-6">
    <div class="container">
        {% block body_content %}
        <h2 class="title is-2 has-text-centered">{{ title }}</h2>
        <div class="columns">
            <div class="column">
                <div class="button is-warning is-light px-5"
                    hx-get="{{ url_for("dashboard_assessments_page") }}"
                    hx-select=".bat-main-content"
                    hx-target=".bat-main-content"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    >
                    &#11013;&nbsp;Return
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column assessment-wheel-panel is-two-fifths">
                {% include "wheel/wheel-review.svg" %}
            </div>
            <div id="assessment-question-panel" class="column">
                {% set assessments_categories = [] %}
                {% for qa in assessment_qa %}
                    {% if qa.category_name not in assessments_categories %}
                        {% set assessments_categories = assessments_categories.append(qa.category_name) %}
                        <div class="card p-4 is-clickable"
                            hx-get="{{ url_for("dashboard_assessment_category_review_page", assessment_id=assessment_id, category_order=qa.category_order) }}"
                            hx-select=".bat-main-content"
                            hx-target=".bat-main-content"
                            hx-swap="outerHTML"
                            hx-push-url="true"
                            >
                            <h5 class="title is-5">{{ qa.category_order + 1 }} {{ qa.category_name }}</h5>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
        <div class="columns">
            <div class="column">
                <div class="button is-warning is-light px-5"
                    hx-get="{{ url_for("dashboard_assessments_page") }}"
                    hx-select=".bat-main-content"
                    hx-target=".bat-main-content"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    >
                    &#11013;&nbsp;Return
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
    <script src="{{ url_for("js", path="wheel-labels.js") }}"></script>
</section>
{% endblock %}
