{% extends "dashboard/assessments-edit.html" %}

{% block assessment_question_panel %}
<div class="content pt-4">
    <h4 class="title is-4 has-text-centered">{{ current_question.category_name }}</h4>
    <form class="main-form" hx-post="{{ url_for("dashboard_user_add_page") }}" hx-ext="json-enc" hx-target="body">
        <div id="answer-value-wrapper" class="control">
            <label class="label">{{ current_question.question }}</label>
            <div class="pb-2">
                <label class="radio p-2 is-fullwidth">
                    <input type="radio" name="answer_value" value="yes"/>
                    {{ current_question.option_yes }}   
                </label>
            </div>
            <div class="pb-2">
                <label class="radio p-2 is-fullwidth">
                    <input type="radio" name="answer_value" value="mid"/>
                    {{ current_question.option_mid }}   
                </label>
            </div>
            <div class="pb-2">
                <label class="radio p-2 is-fullwidth">
                    <input type="radio" name="answer_value" value="no"/>
                    {{ current_question.option_no }}   
                </label>
            </div>
            <div id="clear-answer-button" class="button is-link is-light mt-3">
                Clear answer
            </div>
        </div>
        <div class="p-3"></div>
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input name="username" class="input" type="text" placeholder="JohnDoe">
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input name="password" class="input" type="password" placeholder="******">
            </div>
        </div>
        <div class="is-fullwidth pt-4 is-flex is-justify-content-space-around is-flex-direction-row-reverse">
            <div class="control">
                <input type="submit" value="Create User" class="button is-link">
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block footer_scripts %}
<script src="{{ url_for("js", path="assessment-clear-answer.js") }}"></script>
{% endblock %}
