{% extends "dashboard/questions.html" %}
{% block edit_questions %}
<div class="content px-6">
    <h4 id="question-category-name" class="subtitle is-4 has-text-centered py-6">{{ question_for_editting.category_name }}</h4>
    {% include "helpers/notification.html" %}
    <form class="main-form" hx-put="{{ request.url }}" hx-select="#question-editor" hx-target="#question-editor" hx-replace="outerHTML" hx-ext="json-enc">
        <div class="field">
            <label class="label">Question</label>
            <div class="control">
                <input name="question" class="input selected-input" type="text" value="{{ question_for_editting.question }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" rows="4" name="question_description">{{ question_for_editting.question_description }}</textarea>
            </div>
        </div>
        <div class="field">
            <label class="label">Answer: Yes / Agree</label>
            <div class="control">
                <input name="option_yes" class="input" type="text" value="{{ question_for_editting.option_yes }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Answer: Maybe / Uncertain</label>
            <div class="control">
                <input name="option_mid" class="input" type="text" value="{{ question_for_editting.option_mid }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Answer No / Disagree</label>
            <div class="control">
                <input name="option_no" class="input" type="text" value="{{ question_for_editting.option_no }}">
            </div>
        </div>
        <div class="field is-hidden">
                <input name="question_id" class="input disabled" type="text" value="{{ question_for_editting.question_id }}" readonly>
            </div>
        </div>
        <div class="is-fullwidth pt-4 is-flex is-justify-content-space-around is-flex-direction-row-reverse">
            <div class="control">
                <input type="submit" value="Save changes" class="button is-success">
            </div>
            <div class="control">
                <div class="button is-warning is-light is-clickable"
                    hx-get="{{ url_for("dashboard_questions_page") }}/{{ question_for_editting.category_id }}"
                    hx-boost="true"
                    hx-select=".bat-main-content"
                    hx-target=".bat-main-content"
                    hx-push-url="true"
                    hx-swap="outerHTML">
                    &#11013;&nbsp;Return
                </div>
            </div>
        </div>
    </form>
    <script>
        setTimeout( ()=>{
            let heading = document.querySelector("#question-category-name")
            let headingPosition = heading.getBoundingClientRect().y
            let positionTop = headingPosition + window.scrollY
            document.querySelector(".selected-input").focus()
       window.scrollTo(0, positionTop)
        }, 100)
    </script>
</div>
{% endblock %}
