{# This is the root page of the questions link. Other sublinks are derived from this page #}

{% extends "dashboard/dashboard.html" %}
{% block body %}
<section class="bat-main-content">
    <div class="container">
        {% block body_content %}
        <h2 class="title is-2 has-text-centered">{{ title }}</h2>
        {% include "helpers/notification.html" %}
        <div class="content pt-5">
            {% if not reports and not assessments %}
            <div class="container has-text-centered">
                <p>No reports or assessments created yet.</p>
                <p>Create assessment first and then you can create report for it.</p>
            </div>
            {% elif assessments and not reports %}
            <div class="container has-text-centered">
                <p>No reports created yet. Create one first.</p>
            </div>
            {% elif assessments and reports %}
            <div class="fixed-grid has-1-cols-mobile has-2-cols-tablet has-3-cols-desktop">
                <div class="grid is-gap-4">
                    {% for report in reports %}
                    {% include "dashboard/report-cell.html" %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="container is-flex is-justify-content-center pt-6">
        <button class="button is-link px-5"
            hx-get="{{ url_for("dashboard_report_create_page") }}"
            hx-select=".bat-main-content"
            hx-target=".bat-main-content"
            hx-swap="outerHTML"
            hx-push-url="true"
            {% if not assessments %}
            disabled
            {% endif %}
            >
            Create report
        </button>
    </div>
    {% endblock %}
    </div>
</section>
{% endblock %}
