{% extends "index.html" %}

{# HEADER PART #}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}


{# CONTENT #}
{% block body %}
<section class="bat-main-content is-flex is-align-items-center">
    <div class="container">
        <div class="columns is-flex is-justify-content-center">
            <div class="column is-one-third content">
                <div class="is-flex is-justify-content-center">
                    <img width="100" src="{{ url_for("images", path="bat-logo-transparent.png") }}" alt="OK BAT Logo">
                </div>
                <h1 class="is-title is-1 has-text-centered">Log in</h1>
                {% include "helpers/notification.html" %}
                <form id="bat-login-form"
                    class="form"
                    method="post"
                    action="{{ url_for("login_page") }}"
                    >
                    <div class="field">
                        <label class="label">Username / Email</label>
                        <div class="control">
                            <input class="input" name="username" type="text" {% if username %}value="{{ username }}"{% endif %} autofocus>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" name="password" type="password">
                        </div>
                    </div>
                    <div class="cf-captcha-wrapper"></div>
                    <div class="field is-hidden">
                        <label class="label">CF Turnstile Token</label>
                        <div class="control">
                            <input class="cf-turnstile-token-field input" name="cf_turnstile_response" type="text" readonly>
                        </div>
                    </div>
                    <div class="field is-flex is-justify-content-flex-end">
                        <div class="control">
                            <button id="login-button" class="button is-info px-6">Login</button>
                        </div>
                    </div>
                </form>           
                <div class="content">
                    <a href="{{ url_for("password_reset_page") }}">Reset password...</a>
                </div>
                {% if cf_turnstile_enabled %}
                {% include "helpers/cf-init.html" %}
                {% endif %}
            </div>       
        </div>
    </div>
</section>
{% endblock %}

{% block footer_scripts %}
{% if cf_turnstile_enabled %}
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<script src="{{ url_for("js", path="cf-callback.js") }}"></script>
{% endif %}
{% endblock %}
