{% extends "index.html" %}

{# HEADER PART #}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}


{# CONTENT #}
{% block body %}
<section class="bat-main-content is-flex is-align-items-center">
    <div class="container">
        <div class="columns is-flex is-justify-content-center">
            <div class="column is-one-third content">
                <div class="is-flex is-justify-content-center">
                    <img width="100" src="{{ url_for("images", path="bat-logo-transparent.png") }}" alt="OK BAT Logo">
                </div>
                <h1 class="is-title is-1 has-text-centered">{{ title }}</h1>
                {% include "helpers/notification.html" %}
                {% if user and not notification %}
                <form id="bat-login-form"
                    class="form"
                    hx-post="{{ url_for("password_set_page") }}"
                    hx-select=".bat-main-content"
                    hx-target=".bat-main-content"
                    hx-swap="outerHTML"
                    hx-ext="json-enc">
                    {% if concat_email %}
                    <div class="field">
                        <label class="label">E-mail</label>
                        <div class="control">
                            <input class="input" name="email" type="email" value="{{ concat_email }}" disabled>
                        </div>
                    </div>
                    {% endif %}
                    <div class="field">
                        <label class="label">Password</label>
                        <p class="has-text-grey-light">Password must be 12 - 128 characters.</p>
                        <div class="control">
                            <input name="password" class="input" type="password" pattern=".{12,128}" placeholder="******">
                        </div>
                    </div>
                    <div class="field is-flex is-justify-content-flex-end">
                        <div class="control">
                            <button  class="button is-info px-6">Set password</button>
                        </div>
                    </div>
                    <div class="field is-hidden">
                        <label class="label">ID</label>
                        <div class="control">
                            <input name="user_id" class="input disabled" type="text" value="{{ user.user_id }}" readonly>
                        </div>
                    </div>
                    <div class="field is-hidden">
                        <label class="label">Token</label>
                        <div class="control">
                            <input name="token" class="input disabled" type="text" value="{{ reset_token }}" readonly>
                        </div>
                    </div>
                </form>           
                {% else %}
                {% if notification_type == "success" %}
                <p>You can return to the login page</p>
                <div class="has-text-centered">
                    <a href="{{ url_for("login_page") }}">
                        <button class="button is-info">
                            Log in
                        </button>
                    </a>
                </div>
                {% endif %}
                {% endif %}
            </div>       
        </div>
    </div>
</section>
{% endblock %}

{% block footer_scripts %}
{% if token_manager_start == True %}
{#
{% include "helpers/token-manager-start.html" %}
#}
{% endif %}
<script src="{{ url_for("js", path="token-check.js") }}"></script>
{% endblock %}
