html {
  scroll-behavior: smooth;
}

body, .bat-body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

.bat-content {
    flex: 1;
    padding: 3rem 2rem
}


.is-fullwidth {
    width: 100%;
}

.table.vertical-align td {
    vertical-align: middle;
}

.table tr:hover {
    background-color: #f0f0f0;
}

.has-gap {
    gap: 1rem;
}


.reports-table tr td:first-child{
    font-weight: 600;
}

input.disabled {
    cursor: not-allowed;
    background-color: #e9e9e9;
}

.bat-hover-scale {
    transition: all 0.75s;
}

.bat-hover-scale:hover {
    scale: 1.05
}

.card-active {
    transform: translateX(1rem);
    text-decoration: underline;
}

.bat-interactive-circle {
    cursor: pointer;
}

.breadcrumb .is-active {
    font-weight: bold;
}

.bat-interactive-circle .category:hover{
	filter: drop-shadow(0px 0px 5px purple);
}

.bat-interactive-circle .category.active{
	filter: drop-shadow(0px 0px 5px orange);
}

.bat-interactive-circle {
    overflow: visible;
}
.review-inline-cirlce {
    border-radius: 50%;
    height: 1em;
    width: 1em;
    display: inline-block;
    background-color: #0000cd;
}

.review-inline-cirlce.yes {
    background-color: #00cd00;
}

.review-inline-cirlce.mid {
    background-color: #cdcd00;
}

.review-inline-cirlce.no {
    background-color: #cd0000;
}
