body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

.bat-content {
    flex: 1;
    padding: 5rem 2rem
}


.is-fullwidth {
    width: 100%;
}

.table.vertical-align td {
    vertical-align: middle;
}

.table tr:hover {
    background-color: #f0f0f0;
}

.has-gap {
    gap: 1rem;
}

input.disabled {
    cursor: not-allowed;
    background-color: #e9e9e9;
}

.bat-hover-scale {
    transition: all 0.75s;
}

.bat-hover-scale:hover {
    scale: 1.05
}

.card-active {
    transform: translateX(1rem);
    text-decoration: underline;
}
