<section class="footer has-background-text-95 p-3">
    <div class="container">
        <div class="columns">
            <div class="column">
                <a href="{{ url_for("homepage") }}">
                    <img class="footer-logo" src="{{ url_for("images", path="bat-logo-300x66.png") }}" alt="OneKingdom Bat Tool Logo">
                </a>
            </div>
            <div class="column">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus, arcu eu suscipit aliquet, orci sapien fringilla quam, finibus viverra elit nunc ut purus.</p>
            </div>
        </div>
    </div>
</section>
