{% extends "app/app.html" %}
{% block body %}
<section class="bat-main-content is-flex pt-6">
    <div class="container">
        {% block body_content %}
        <h2 class="title is-2 has-text-centered">{{ title }}</h2>
        {% include "helpers/notification.html" %}
        <div class="fixed-grid has-1-cols-mobile has-2-cols-tablet has-3-cols-desktop">
            <div class="grid is-gap-4">
                {% if assessments %}
                {% for assessment in assessments %}
                <div class="cell">
                    <div class="card p-4 content">
                        <h3 class="title is-3">{{ assessment.assessment_name }}</h3>
                        <p data-owner_id="{{ assessment.owner_id }}"><b>Owner:</b> {{ assessment.owner_name }}</p>
                        <div class="is-flex is-gap-2">
                            <a href="{{ url_for("app_assessments_page") }}/edit/{{ assessment.assessment_id }}" class="button is-link is-light px-6">
                                Edit
                            </a>
                            {% if assessment.has_reports %}
                            <a
                                class="button is-success is-light px-6"
                                href="{{ url_for("app_reports_for_assessment", assessment_id=assessment.assessment_id) }}">
                                Reports
                            </a>
                            {% endif %}
                        </div>
                    </div> 
                </div>
                {% endfor %}
                {% else %}
                <div class="content has-text-centered is-max-tablet">
                    <p>Let your coach know to create one for you.</p>
                </div>
                {% endif %}
            </div>
        </div>
        {% endblock %}
    </div>
</section>
{% endblock %}
