<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Page Title{% endblock %} | BAT Tool</title>
        <meta name="description" content="{% block description %}Description{% endblock %}">
        <meta name="htmx-config" content='{"requestClass":"is-loading"}'>
        <link rel="icon" href="{{ url_for("images", path="bat-favicon.webp") }}">
        <link href="{{ url_for("css", path="bulma-no-dark-mode.min.css") }}" rel="stylesheet">
        <link href="{{ url_for("css", path="style.css") }}" rel="stylesheet">
        <link href="{{ url_for("css", path="quill.snow.css") }}" rel="stylesheet">
        <script src="{{ url_for("js", path="quill-controller.js") }}"></script>
        <script src="{{ url_for("js", path="quill.js") }}"></script>
        <script src="{{ url_for("js", path="htmx.min.js") }}"></script>
        <script src="{{ url_for("js", path="json-enc.js") }}"></script>
        <script src="{{ url_for("js", path="htmx-process-errors.js") }}"></script>
        {% block header_scripts %}
        {% endblock %}
    </head>
    <body>
        <div class="bat-body">

            <div class="bat-menu">
                <section class="has-background-text-95">
                    <div class="container">
                        <nav class="navbar has-background-text-95" role="navigation" aria-label="main navigation">
                            <div class="navbar-brand p-3">
                                <a href="{{ url_for("homepage") }}">
                                    <img class="navbar-logo" src="{{ url_for("images", path="bat-logo-300x66.png") }}" alt="OneKingdom Bat Tool Logo">
                                </a>
                                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                                    onclick="document.querySelector('#mobile-menu').classList.toggle('is-active')">
                                    <span aria-hidden="true"></span>
                                    <span aria-hidden="true"></span>
                                    <span aria-hidden="true"></span>
                                    <span aria-hidden="true"></span>
                                </a>
                            </div>
                            {% block menu %}
                            {% include "menu.html" %}
                            {% endblock %}
                        </nav>
                    </div>
                </section>
            </div>

            <div class="bat-content">
                {% block body %}
                {% endblock %}
            </div>

            <div class="bat-footer">
                {% block footer %}
                {% include "footer.html" %}
                {% endblock %}
            </div>

            {% block footer_scripts %}
            {% endblock %}
        </div>

    </body>
</html>
