{% extends "email/index.html" %}
{% block body %}
    <div class="container">
        <h1>Welcome, {{ username }}!</h1>
        <p>Your account has been successfully created.</p>
        <p>You can set/reset your password here:</p>
        <div class="button-container">
            <a href="{{ url_for("password_reset_page") }}/" class="button">Password reset</a>
        </div>
        <p>If you have any questions, feel free to reach out to your coach.</p>
        <div class="footer">
            <p>Best regards,<br>The <span class="highlight">OneKingdom</span> Team</p>
        </div>
    </div>
{% endblock %}
