{% extends "email/index.html" %}
{% block body %}
    <div class="container">
        <h1>Hello, {{ token_object.username }}!</h1>
        <p>Here is the link to set your new password:</p>
        <div class="button-container">
            <a href="{{ url_for("password_set_page") }}?reset_token={{ token_object.password_reset_token }}" class="button">Password reset</a>
        </div>
        <p>Alternatively you can copy the link into the browser:<p>
        <p class="word-wrap">{{ url_for("password_set_page") }}?reset_token={{ token_object.password_reset_token }}</p>
        <p>If you have any questions, feel free to reach out to your coach.</p>
        <div class="footer">
            <p>Best regards,<br>The <span class="highlight">OneKingdom</span> Team</p>
        </div>
    </div>
{% endblock %}
